<!-- This container wrapper class ensures that the pane grows to the width and height of the view.-->
<div class="container">
    <!-- This mat pane contains all of the elements for this page.-->
    <mat-pane>
        <!-- The mat card header includes the title for the page. -->
        <mat-card-header>
            <mat-card-title>To-Do List</mat-card-title>
        </mat-card-header>
        <!-- The mat card content includes all of the to-do list items. -->
        <mat-card-content>
            <mat-list>
                <mat-divider />
                @for(item of todoService.todoList(); track item.id) {
                    <mat-list-item role="listitem">
                        <div class="list-item-row">
                            <mat-checkbox [checked]="item.completed" (change)="checkmarkPressed(item)"/>
                            <!--current state: manually change if condition to true to see icons appear.
                            the edit button is still present, but save and cancel appear-->
                            @if (editingItemId === item.id) { <!-- save and cancel show up after going into edit mode-->
                                <input
                                matInput
                                placeholder="Edit title"
                                [formControl]="editItemTitleControl"
                                /> <!--doesn't work, but hoping to be inline text replacement-->
                                <button mat-icon-button class="save-button" (click)="saveItemTitle(item)"> <!--save-->
                                    <mat-icon class=tertiary-icon>check</mat-icon>
                                </button> 
                                <button mat-icon-button class="cancel-button" (click)="cancelEditing()"> <!--cancel-->
                                    <mat-icon class=tertiary-icon>cancel</mat-icon>
                                </button>
                            } @else {
                                <div contentEditable="isEditable">{{ item.title }}</div>
                                <button mat-icon-button class="edit-button" (click)="startEditing(item)">
                                    <mat-icon class=tertiary-icon>edit</mat-icon>
                                </button>
                            } 
                            <button mat-icon-button class="delete-button" (click)="deleteItem(item)">
                                <mat-icon class=tertiary-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                    <mat-divider />
                } @empty {
                    <p id="empty-text">There is nothing in your to-do list! Add an item below.</p>
                }
            </mat-list>
        </mat-card-content>
        <!-- Stores the bottom bar with a text input and a button. -->
        <mat-card-actions>
            <!-- This form field enables user input to add a new item. -->
            <mat-form-field appearance="outline" color="accent">
                <mat-label>New To-Do Item</mat-label>
                <input
                matInput
                placeholder=""
                [formControl]="newItemFormControl"
                required />  
            </mat-form-field>
            <button mat-flat-button class="primary-button" (click)="addNewItem()" [disabled]="newItemFormControl.value?.length == 0">
                <mat-icon>add</mat-icon>
                Add To-Do
            </button>
        </mat-card-actions>
    </mat-pane>
</div>